* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: #202124;
    color: #e4e4e4;
}

header {
    border-bottom: 1px solid #3a3b3c;
    padding: 1rem 2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#toast-container {
  position: fixed;
  top: 20px;
  right: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  z-index: 9999;
}

.toast {
  min-width: 250px;
  padding: 12px 16px;

  border-radius: 8px;
  color: white;
  font-weight: 500;

  box-shadow: 0 4px 10px rgba(0,0,0,0.2);

  transform: translateX(120%);
  opacity: 0;

  transition: all 0.4s ease;
}

.toast.show {
  transform: translateX(0);
  opacity: 1;
}

.toast.success {
  background-color: #A5D6A7;
  color: #1B5E20;
}

.toast.error {
  background-color: #EF9A9A;
  color: #7F1D1D;
}

.toast.info {
  background-color: #90CAF9;
  color: #0D47A1;
}

.toast.warning {
  background-color: #FFE082; 
  color: #5F370E;
}

#search-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.toast {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background: none;
  border: none;
  color: inherit;
  font-size: 16px;
  cursor: pointer;
}

#search-input {
    background-color: #3a3b3c;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-weight: bold;
    color: #ddd;
    width: 400px;
}

#search-input::placeholder {
    color: #ddd;
}

#export-stock {
    background-color: transparent;
    border: 1px solid #555;
    color: #e4e4e4;
    border-radius: 4px;
    padding: 5px 15px;
    cursor: pointer;
    transition: .4s;
}

#export-stock:hover {
    background-color: #3a3b3c;
}

.app-container {
    display: flex;
}

.sidebar {
    width: 220px;
    background-color: #1b1c1d;
    border-right: 1px solid #3a3b3c;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: calc(100vh - 70px);
}

.sidebar button {
    background: none;
    border: none;
    color: #e4e4e4;
    text-align: left;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.sidebar button:hover {
    background-color: #2d2f31;
}

.main-container {
    flex: 1;
    padding: 30px;
}

.tela {
    display: none;
}

.tela.ativa {
    display: block;
}

.forms-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add_product,
.update_stock,
.delete_product {
    display: flex;
    flex-direction: column;
    border: 1px solid #3a3b3c;
    background-color: #2d2f31;
    color: #e4e4e4;
    border-radius: 8px;
    padding: 30px;
    align-items: center;
    gap: 10px;
}

.add_product:hover,
.update_stock:hover,
.delete_product:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

.add_product h2,
.update_stock h2,
.delete_product h2 {
    font-size: 16px;
    color: #0d6efd;
}

.hide {
    display: none;
}

/* Inputs */
.add_product input,
.update_stock input,
.delete_product input {
    background-color: #3a3b3c;
    border: 1px solid #555;
    color: #e4e4e4;
    padding: 8px;
    border-radius: 5px;
}


/* Botões */
#add-product-btn,
#update-stock-btn,
#delete-product-btn,
.delete-product-btn {
    margin-top: 1rem;
    border-radius: 5px;
    color: #fff;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

/* Botão adicionar */
#add-product-btn {
    background-color: #198754;
}
#add-product-btn:hover {
    background-color: #146c43;
}

/* Botão atualizar */
#update-stock-btn {
    background-color: #0d6efd;
}
#update-stock-btn:hover {
    background-color: #0b469e71;
}

/* Botão remover */
#delete-product-btn {
    background-color: #fa1919;
}
#delete-product-btn:hover {
    background-color: #b912127c;
}

/* Mostrar estoque */
#show-stock-btn {
    margin-top: 2rem;
    background-color: #0d6efd;
    border-radius: 5px;
    color: #fff;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}
#show-stock-btn:hover {
    background-color: #0b469e71;
}

/* Área de saída */
#stock-output {
    margin-top: 20px;
    white-space: pre-line;
    font-family: monospace;
}

/* estoque */

.card {
    background-color: #2d2f31;
    color: #e4e4e4;
    font-weight: bold;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 12px;
    border: 1px solid #3a3b3c;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    width: 260px;
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

.card h3 {
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    color: #0d6efd;
}

.card p {
    font-size: 14px;
    color: #ccc;
}

#estoque-container {
    align-content: flex-start;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#estoque-container {
    flex: 1;
}

.delete-product-btn {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    background-color: #dc3545;
    margin-top: 10px;
    transition: all 0.2s ease;
}

.delete-product-btn:hover {
    background-color: #bb2d3b;
}